<!DOCTYPE html>
<html>
  {{> header}}
  <body>
  {{> navbar}}
  <div class="container">
    <h1>{{pageTitle}}</h1>

    <p>Hello {{userName}}!</p>
  </div>

    {{> footer}}
    {{> scripts}}
  </body>
</html>
